[submodule "Si5351Arduino"]
	path = Si5351Arduino
	url = https://github.com/etherkit/Si5351Arduino
[submodule "Adafruit_CharacterOLED"]
	path = Adafruit_CharacterOLED
	url = https://github.com/camilstaps/Adafruit_CharacterOLED
